<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo - App: Projects</title>
</head>
<body>
<main>

    <!-- <legend>Nowy Projekt</legend>
&lt;!&ndash;/*@thymesVar id="project" type="pl.gregorymartin.as82.model.Note"*/&ndash;&gt;
<form action="#" method="post" th:action="@{/projects}" th:object="${project}">
 <p class="C(red)" th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
 <label>Opis
     <input type="text" th:field ="*{description}" th:errorclass="'Bdc(red)'"/>
 </label>
 <fieldset th:each="step,stepStat : *{steps}">
     <legend th:text="|Krok ${stepStat.index + 1 }|"></legend>
     <label>Opis
         <input type="text" th:field ="*{steps[__${stepStat.index}__].description}" th:errorclass="'Bdc(red)'"/>
     </label>
     <label>Data
         <input type="number" th:field ="*{steps[__${stepStat.index}__].daysToDeadline}"  th:errorclass="'Bdc(red)'"/>
     </label>
 </fieldset>
 <div>
     <button type="submit" name="addStep">+</button>
 </div>
 <p>
     <button type="submit">Dodaj</button>
     <button type="reset">Wyczyść</button>
 </p>
</form>

&lt;!&ndash;/*@thymesVar id="message" type="java.lang.String"*/&ndash;&gt;
<h1 th:if="${message != null}" th:text="${message}"></h1>

<div class="Flex">
 &lt;!&ndash;/*@thymesVar id="project" type="pl.gregorymartin.as82.model.Note"*/&ndash;&gt;
 <dl th:each="projectInList : ${projects}" class="Bd P(10px)">
     <dt th:text="${projectInList.description}">...</dt>
     <dd>
         <ul class="P(0)">
             <li th:each="step : ${projectInList.steps}" th:text="|${step.description} (${step.daysToDeadline} dni)|"></li>
         </ul>
         <form action="#" method="post" th:action="@{/projects/{projectId}(projectId=${projectInList.id})}">
             <label>Deadline
                 <input name="deadline" type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}">
             </label>
             <button type="submit">Utwórz taski >></button>
         </form>
     </dd>
 </dl>
</div>-->
    <div style="width: 700px; margin: 0 auto;">
        <form  class=" formular pure-form pure-form-aligned" method="post" th:action="@{/}" th:object="${note}">
            <div class="pure-control-group" >
                <label style="margin: 10px auto; height: 36px;">
                    <input  style=" height: 36px;" th:field ="*{title}" type="text"  placeholder="Title" th:errorclass="error" />
                </label>
                <label style="margin: 10px;">
                    <select th:field="*{category}">
                        <option  th:each="c : ${T(pl.gregorymartin.as82.model.Category).values()}"
                                 th:value="${c.name()}"
                                 th:text="${c}">
                        </option>
                    </select>
                </label>
                <label style="margin: 10px; height: 36px;">
                    <input style=" height: 36px; " type="datetime-local" th:value="*{deadline}" th:field="*{deadline}" th:errorclass="error"/>
                </label>
            </div>
            <div class="pure-control-group">
                <label style="margin: 10px auto;">
                    <textarea style=" width: 650px; height: 200px;" class="pure-input-1-2" th:field ="*{description}" placeholder="description" th:errorclass="error"></textarea>
                </label>
            </div>
            <div style="margin: 10px auto;" class="pure-control-group">


            </div>
            <button style="margin: 10px auto;" type="submit" class="button-success pure-button">Add New Note</button>

        </form>



        <!--/*@thymesVar id="project" type="pl.gregorymartin.as82.model.NoteReadModel"*/-->
        <table style="width: 100%;" class="pure-table " th:each="noteInList : ${notes}">
            <thead>
            <tr>
                <div class="textField">
                    <dt class="title" th:text="|${noteInList.title} :|"></dt>
                    <dt th:text="${noteInList.description}"></dt>
                </div>
            </tr>
            <tr style="border-bottom: 2px solid #868673;">
                <th class="bottomfield" th:text="${noteInList.category}"/>
                <th class="bottomfield" th:text="${noteInList.daysToDeadline}"/>
            </tr>
            <tr>

                <a th:href="|edit/${noteInList.getId()}|" class="button-warning pure-button">Edit</a>
                <a th:href="|delete/${noteInList.getId()}|" class="button-error pure-button">Delete</a>
            </tr>
            </thead>
        </table>
    </div>

</main>
</body>
</html>
